.rightbar{
    flex: 3.5;
}
.rightbarwrapper{
    padding: 20px 20px 0 0;
}
.birthdaycontainer{
    display: flex;
    align-items: center;
}
.birthdayimg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.birthdaytext{
    font-weight: 300;
    font-size: 15px;
}
.rightbarad{
    width: 100%;
    border-radius: 10px;
    margin:30px 0 ;
}
.rightbartitle{
    margin-bottom: 20px;
}
.rightbarfriendlist{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.rightbarfriend{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.rightbarprofileimgcontainer{
    margin-right: 10px;
    position: relative;
}
.rightbarprofileimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.rightbaronline{
    width: 12px;
    height: 12px;
    border-radius: 40%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}
.rightbarusername{
    font-weight: 300;
}